<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {%  for stock in results %}
        <h1>Symbol: {{ stock['symbol'] }}</h1>
        <h1>Name: {{ stock['companyName']}}</h1>
        <h2>Market Cap: {{ stock['marketCap'] }}</h2>
        <h2>Sector: {{ stock['sector'] }}</h2>
        <h2>Price: ${{ stock['price'] }}</h2>
        <h2>Volume: {{ stock['volume'] }}</h2>
        <h2>Exchange: {{ stock['exchange']}}</h2>
    {%  endfor %}
</body>
</html>