<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    {%  for stock in results %}
        <h1>Symbol: {{ stock['symbol'] }}</h1>
        <h1>Name: {{ stock['companyName']}}</h1>
        <h2>Market Cap: {{ stock['marketCap'] }}</h2>
        <h2>Sector: {{ stock['sector'] }}</h2>
        <h2>Price: ${{ stock['price'] }}</h2>
        <h2>Volume: {{ stock['volume'] }}</h2>
        <h2>Exchange: {{ stock['exchange']}}</h2>

        <form action="{{ url_for('more_info') }}" method="POST">
            <button type="submit" name="info" value={{stock['symbol']}}>More Info</button>
        </form>

        <form action="{{ url_for('save_stock') }}" method="POST">
            <button type="submit" name="save" value={{stock['symbol']}}>Save Stock</button>
        </form>
    {%  endfor %}
    {% endblock %}
</body>
</html>