<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Stock Buddies - Menu</title>
</head>
<body>
    <h2>Welcome! 🎉</h2> <!-- i want to add username here -->
    <p>Welcome to the main menu of Stock Buddies. You can explore the following options:</p>

    <ul>
        <li><a href="">Search for Stocks 🔍</a></li>
        <li><a href="">Saved Stocks 💾</a></li>
        <li><a href="">Get News 📰</a></li>
        <li><a href="">Get Historical Price Graph 📈</a></li>
        <li><a href="">Logout 👋</a></li>
    </ul>

    <p>Thank you for using Stock Buddies. We hope you enjoy the experience!</p>
</body>
</html>
