<!-- navbar.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <img src="/static/logo_small.png" alt="Logo" class="logo">
        {% if is_logged_in %}
            <a href="/">Home 🏠</a>
            <a href="/search_menu">Search for Stocks 🔍</a>
            <a href="/saved_tickers">Saved Stocks 💾</a>
            <a href="news">Get News 📰</a>
            <a href="/graph">Get Historical Price Graph 📈</a>
            <a href="/logout" class="right">Logout 👋</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        {% endif %}
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
